@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.link-bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(38, 112, 233, 0.3) 0%,
    rgba(38, 112, 233, 0) 100%
  );
}

.hover-link-bg-gradient:hover {
  background: linear-gradient(
    90deg,
    rgba(38, 112, 233, 0.3) 0%,
    rgba(38, 112, 233, 0) 100%
  );
}

.shadows {
  box-shadow: 0px 22.5px 45px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 11.25px 22.5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3.75px 7.5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 37.5px 75px 0px rgba(255, 255, 255, 0.15) inset;
}

.header-shadow {
  box-shadow: 0px 7.5px 7.5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0.75px 0px 0px rgba(0, 0, 0, 0.05);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-answer-open {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}

.btn-shadow {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
}
