@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.link-bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(38, 112, 233, 0.3) 0%,
    rgba(38, 112, 233, 0) 100%
  );
}

.hover-link-bg-gradient:hover {
  background: linear-gradient(
    90deg,
    rgba(38, 112, 233, 0.3) 0%,
    rgba(38, 112, 233, 0) 100%
  );
}

.shadows {
  box-shadow: 0px 22.5px 45px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 11.25px 22.5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3.75px 7.5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 37.5px 75px 0px rgba(255, 255, 255, 0.15) inset;
}

.header-shadow {
  box-shadow: 0px 7.5px 7.5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0.75px 0px 0px rgba(0, 0, 0, 0.05);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-answer-open {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}

.btn-shadow {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
}

.sidebar-closed {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}

.sidebar-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.shadow-blue {
  box-shadow: 0 0 20px 10px rgba(38, 112, 233, 0.5);
}

@layer components {
  .btn {
    @apply rounded-md font-medium py-2 px-14 hover:opacity-85 transition-all duration-300 max-sm:w-full text-center;
  }
}

.radial-progress {
  position: relative;
  display: inline-grid;
  height: var(--size);
  width: var(--size);
  place-content: center;
  border-radius: 9999px;
  background-color: transparent;
  vertical-align: middle;
  box-sizing: content-box;
  --value: 70;
  --size: 5rem;
  --thickness: calc(var(--size) / 10);
  --primary-color: #77eb28;
  --secondary-color: #474747;
}

.radial-progress:before,
.radial-progress:after {
  position: absolute;
  border-radius: 9999px;
  content: "";
}

.radial-progress:before {
  inset: 0px;
  background: radial-gradient(farthest-side, var(--secondary-color) 99%, #0000) top/var(--thickness) var(--thickness) no-repeat,
    conic-gradient(var(--primary-color) calc(var(--value) * 1%), var(--secondary-color) 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--thickness)),
    #000 calc(100% - var(--thickness))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--thickness)),
    #000 calc(100% - var(--thickness))
  );
}

.radial-progress:after {
  inset: calc(50% - var(--thickness) / 2);
  transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size) / 2 - 50%));
  background-color: var(--primary-color);
}

